body {
  font-family: Georgia, Times, "Times New Roman", serif;
  position: relative;
  background: #fbfbfb;
  background-image:url('../images/bg/connecting.jpg');
  background-position: top left;
  background-repeat: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0.5em;
  font-size: 1.5em;
  color: #fff;
} 

#log {
  font-size: smaller;
  font-style: italic;
  margin-top: 1em;
} 

#status {
  font-size: small;
  margin-top: 1em;
}
